.PortfolioItem {
    padding: 30px;
}

.PortfolioItem h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.PortfolioItem img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
    object-fit: cover;
    border-radius: 7px;
}

@media (max-width: 1100px) {
    .PortfolioItem h1 {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {

    .PortfolioItem {
        padding: 10px;
    }

    .PortfolioItem h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}